=provide(:title, "Index")

<!-- Layout the matrix table -->
- if @matrices.empty?
  %p No matrices found that match the filter!

%table{:id => "matrices", :class => "table table-striped"}
  %thead
    %tr{:id => 'sort-selector'}
      %th{:id => 'group-header'} Group Name

  %tbody
    - @groupnames.each do |name|
      %tr
        %td{class: "column-group"}= link_to "#{name}", matrices_path(:'filter[group]'=>name)
        
<!-- Check for cookies -->
:javascript
  checkCookies();
