/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

$link-color: #265986;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';

body {
  padding-top: 70px;
  min-width: 640px;
  width: auto;
}

$navbar-inverse-bg: rgb(0, 0, 0);

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: #090909;
}

.navbar {
  min-width: 640px;
}

.navbar-brand {
  line-height:12px;
  padding-top:16px;
  padding-bottom:5px;
  font-family: "cutive";
  color: #fff;
}

.navbar-brand a {
  color: #fff;
}

.navbar-brand h1 {
  position: absolute;
  margin-top: -6px;
  font-size: 115%;
  color: #fff;
}

.navbar-brand small {
  display:block;
  font-size:60%;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #222;
}

@media (max-width: 1000px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media only screen and (width: 760px) {
  .column-download{
    display: none;
  }
}

.pagination-container {
  text-align: center;
}

.filter-hidden {
  display: none;
}

.dropdown-menu {
  width: 250px;
}

.dropdown-menu li {
  margin-left: 6px;
}

.input-with-label {
  display: inline-block;
}

.input-with-label input {
  width: 8em;
  position: relative;
  display: block;
  text-align: center;
}

.input-with-label label {
  font-size: $font-size-h6;
  display: block;
  float: left;
  width: 100%;
  margin: 0 auto; 
  color: $gray-light;
  margin-bottom: 0px;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-slide img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  max-height: 384px;
}

.slick-slide {
  height: 384px;
}

.slick-list {
  height: 384px;
}

.slick-arrow {
  z-index: 10;
}

#notice {
  color: green;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}