/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

$navbar-inverse-bg: rgb(0, 0, 0);

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: #090909;
}

.navbar-brand {
  line-height:12px;
  padding-top:16px;
  padding-bottom:5px;
  font-size: 150%;
  font-family: "cutive";
}

.navbar-brand small {
  padding-top:5px;
  display:block;
  font-size:55%;
}

.about-images {
  background-color: black;
}

@media only screen and (width: 760px) {
  .column-download{
    display: none;
  }
}

