// Place all the styles related to static pages here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-main p {
    margin-left: 35px;
}

#about-main a {
  text-decoration: underline;
}

#about-main li {
    margin-left: 35px;
}

#submit-matrix-main p {
    margin-left: 35px;
}

#submit-matrix-main table {
    margin-left: 35px;
}

.about-images {
  background-color: black;
  margin-left: 35px;
}