body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#slide-container{
  width: 604px;
  height: 453px;
  background-color:white;
  position: relative;
}

#slide-container li:first-child{
  display:list-item;
  position:absolute;
}

#slide-container li{
  position:absolute;
  display:none;
}

#slide-container ul{
  width: 604px;
  height: 453px;
  list-style:none outside none;
  position:relative;
  overflow:hidden;
}

#slide-container .prevButton{
  height:72px;
  width:68px;
  position:absolute;
  background:image-url('buttons.png') no-repeat;
  top:50%;
  margin-top:-36px;
  cursor:pointer;
  z-index:200;
  background-position:left top;
  left:0
}

#slide-container .nextButton{
  height:72px;
  width:68px;
  position:absolute;
  background:image-url('buttons.png') no-repeat;
  top:50%;
  margin-top:-36px;
  cursor:pointer;
  z-index:200;
  background-position:right top;
  right:0
}

#slide-container .prevButton:hover{
  background-position:left bottom;
  left:0;
}

#slide-container .nextButton:hover{
  background-position:right bottom;
  right:0;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
