!!! 5
%html{:lang => "en"}
  %head
    %title UFSMCWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:role => "document"}
    %nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header Sparse Matrix Collection
    .container.theme-showcase{:role => "main"}
      = yield
